.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    @media screen and(max-width: 1024px) {
        width: var(--container-width-md);
    }
    @media screen and(max-width: 600px) {
        width: var(--container-width-sm);
    }
  }
  h1,h2,h3,h4,h5,h6{
    font-weight: 500;
  }
  h1{
    font-size: 2.5rem;
  }
  section{
    margin-top: 8rem;
    height: 100vh;
    @media screen and(max-width: 1024px) {
        margin-top: 6rem;
    }
  }
  section > h2,
  section > h5{
    text-align: center;
    color: var(--color-light);
  }
  section > h2{
    color: var(--color-primary);
    margin-bottom: 3rem;
    @media screen and(max-width: 600px) {
        margin-bottom: 2rem;
    }
  }
  .text-light{
    color: var(--color-light);
  }
  a{
    color: var(--color-primary);
    transition: var(--transition);
    &:hover{
      color: var(--color-white);
    }
  }
  .btn{
      width: max-content;
      display: inline-block;
      color: var(--color-primary);
      padding: 0.75rem 1.2rem;
      border-radius: .4rem;
      cursor: pointer;
      border: 1px solid var(--color-primary);
      transition: var(--transition);
      &:hover{
          background:var(--color-white);
          color: var(--color-bg);
          border-color: transparent;
      }
      &-primary{
          background: var(--color-primary);
          color: var(--color-bg)ñ;
      }
  }
  img{
      display: block;
      width: 100%;
      object-fit: cover;
  }